[safe]
	directory = /tmp/windmill/wk-default-ares-mdzoQ/01990f90-6c70-fc70-92c3-2905f9037bc3/wmill-forks-test
	directory = /tmp/windmill/wk-default-ares-dl2No/01992eee-56c0-5a6d-6dd2-be245d4a076c/wmill-forks-test
